<div class="about">

  <header class="page-header">
    <h1>Our Story</h1>
  </header>

  <div class="about-info">
    <h2>
      🌿 Welcome to The Jungle! 🌿
    </h2>

    <p>
      Founded in 2020, The Jungle was born out of an intense and growing need for pandemic plant parenthood. We wanted everyone to experience the joys of raising plant babies and recognized the challenges of purchasing plants due to the pandemic. With public health measure in place, nurseries had shut down and people were not able to shop in-person.
    </p>

    <p>
      Our company has a team dedicated to keeping your plants healthy until they arrive at your doorstep. Our coordinated delivery services are efficient and reliable. If your plant doesn't make it through the first month at your home, we will send a replacement at no cost to you! We have a variety of plant species and we're sure that you will find the right ones for your personal jungle.
    </p>

    <p>
      Enjoy your stay!
    </p>
  </div>

</div>